// TODO
div(style='width: 100%; text-align: center; margin: 2rem 0;')
  img(src='https://i0.wp.com/blog.bluesofterp.com.br/wp-content/uploads/2014/09/Fluxo-do-pedido.png' style='width: 500px;' alt='Etapas do pedido')
