doctype html
html(lang="pt-BR", style='font-size: 16px; font-family: "Roboto", "sans-serif"; background-color: #FFFFFF;')
  head
    title= title
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='styelsheet', href='https://fonts.gstatic.com', crossorigin)
    link(rel='styelsheet', href='https://fonts.googleapis.com/css2?family=Roboto&display=swap', type='text/css')
  body(style='max-width: 600px; background-color: #ebebeb; margin: 0 auto;')
    div(style='padding: 1rem;')

      block content

      include ../footer/footer.pug
