style
  //- include style.css

footer
  div(style='text-align: justify; color: gray;')
    small Para que você não fique com dúvidas, entenda como funciona nosso prazo de entrega:
    br
    small Começa a valer após a postagem da encomenda nos Correios. O prazo de entrega é contado em dias úteis (segunda a sexta-feira das 8h às 22h), não incluindo sábado, domingo e feriados.
    br
    br
    small #[strong ATENÇÃO]: Todos os nossos e-mails contém links diretos para o nosso site ou sites parceiros, e em nenhuma hipótese trazem arquivos anexos executáveis ou links para download. Pedimos que desconsidere qualquer e-mail enviado com estas características.
